*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
}
body{
    background-color: #213448;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #2d4966;
    padding: 40px 60px;
}